<%= erb :"_navbar" %>

<div class="list-container" >
	<h2>Your Lists</h2>

	<ul id="list-index">
		<% @lists.each do |list| %>
			<%= erb :"lists/_list_list", locals: { list: list } %>
		<% end %>
	</ul>

	<a id="add-list" href="/lists/new">Add a new list</a>
</div>