<h1>Log in to manage your TO DO lists</h1>
<form id="login_form" name="login" action="/login" method="POST">
  <label for="email">Email</label>
<input name="email" type="email" placeholder="you@example.org"><br>
  <label for="password">Password</label>
<input name="password" type="password" placeholder="********">
<input type="submit" value="Log in">
</form>

<h5>Don't have an account? <a href="/users/new">Sign Up</a></h5>
